@model CourseModel

<div class="col">
    <div class="card margin-bottom">
        <img class="card-img-top" src="@Model.Img">
        <div class="card-footer">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text"><small>@Model.Description</small></p>
        </div>
    </div>
</div>
