@{
    ViewData["Title"] = "Home Page";
}

<div class="card margin-bottom mx-auto" style="max-width: 900px;">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="/img/avatar.jpg" class="img-fluid rounded-start" alt="avatar">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Hello!</h5>
                <div class="card-text">
                <p>Welcome on my site. I'm Łukasz Szynal and this is a short story of my life.</p>
                <p>My advantage is reliability and ease in establishing contacts with people. I am a stress-resistant person and I can work under time pressure. I am characterized by punctuality, consistency in action and responsibility in approaching my work. I'm able to work in a group as well as perform individual tasks. I am an ambitious person who's looking for a new challenges. During my professional experience, I have learned to be responsible, reliable and patient.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vertical Timeline -->
<section id="conference-timeline">
    <div class="conference-center-line"></div>
    <div class="conference-timeline-content">
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <p>I was born in 1990. I grew up in a small town called Brzostek. <span class="article-img"><em class="fa fa-birthday-cake xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">1990</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-right-container">
                <div class="content-right">
                    <p>Primary school graduation. <span class="article-img"><em class="fa fa-graduation-cap xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2003</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-right-container">
                <div class="content-right">
                    <p>Middle school graduation. <span class="article-img"><em class="fa fa-graduation-cap xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2006</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-right-container">
                <div class="content-right">
                    <p>Start working for "Les verges de Saint Pathus" as a manual worker for 2 holiday seasons.<span class="article-img"><em class="fa fa-briefcase xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2008</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <p>After graduating secondary school, I went to France to work. I spent almost 10 years there. Working abroad has taught me responsibility, reliability and patience. <span class="article-img"><em class="fa fa-map-signs xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="content-right-container">
                <div class="content-right">
                    <p>
                        General secondary school graduation and passed the secondary school-leaving examination. <span class="article-img"><em class="fa fa-graduation-cap xlarge text-teal"></em></span>
                    </p>
                    <p>
                        Begin working for "Sapins et compagnie" as a manual worker for 5 winter seasons. <span class="article-img"><em class="fa fa-briefcase xlarge text-teal"></em></span>
                    </p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2009</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-right-container">
                <div class="content-right">
                    <p>Begin working for "HERBES DE MEAUX EARL" as a manual worker and driver for 7 seasons (March – November). I was also a team leader. <span class="article-img"><em class="fa fa-briefcase xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2010</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <p>Return to Poland. <span class="article-img"><em class="fa fa-home xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="content-right-container">
                <div class="content-right">
                    <p>Begin working for "Poczta Polska" as a postman. <span class="article-img"><em class="fa fa-briefcase xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2017</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <p>Getting married with Angelika. <span class="article-img"><em class="fa fa-user-plus xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2019</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <p>Birth of a son Oliwier. <span class="article-img"><em class="fa fa-users xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2020</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <p>That's the point when I decided to fulfill my dreams from my adolescence to become a programmer. <span class="article-img"><em class="fa fa-rocket xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="content-right-container">
                <div class="content-right">
                    <p>Commencement of IT studies at "Akademia Humanistyczno-Ekonomiczna w Łodzi". <span class="article-img"><em class="fa fa-graduation-cap xlarge text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2021</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-right-container">
                <div class="content-right">
                    <p>Completion of the .Net Training Program. <span class="article-img"><em class="fa fa-handshake-o large text-teal"></em></span></p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2022</span>
            </div>
        </div>
        <!-- // Article -->
        <!-- Article -->
        <div class="timeline-article">
            <div class="content-right-container">
                <div class="content-right">
                    <p>
                        Participation in the final of the NOKIATHON 2023 edition. <span class="article-img"><em class="fa fa-trophy xlarge text-teal"></em></span>
                    </p>
                    <p>
                        Completion of the Data Analytics Engineering Program. <span class="article-img"><em class="fa fa-handshake-o large text-teal"></em></span>
                    </p>
                </div>
            </div>
            <div class="meta-date">
                <span class="date">2023</span>
            </div>
        </div>
        <!-- // Article -->
    </div>
</section>

<div class="card margin-top mx-auto" style="max-width: 950px;">
    <div class="card-header" style="text-align: center">
        Skills
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item mx-auto" style="text-align: center">
            <img src="https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c-sharp&logoColor=white" class="margin-top" alt="C#" />
            <img src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white" class="margin-top" alt=".Net" />
            <img src="https://img.shields.io/badge/Python-14354C?style=for-the-badge&logo=python&logoColor=white" class="margin-top" alt="Python" />
            <img src="https://img.shields.io/badge/C%2B%2B-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white" class="margin-top" alt="C++" />
            <img src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E" class="margin-top" alt="JavaScript" />
            <img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" class="margin-top" alt="HTML5" />
            <img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" class="margin-top" alt="CSS3" />
            <img src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white" class="margin-top" alt="Bootstrap" />
            <img src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white" class="margin-top" alt="PostgreSQL" />
        </li>
        <li class="list-group-item mx-auto" style="text-align: center">
            <img src="https://img.shields.io/badge/Windows-0078D6?style=for-the-badge&logo=windows&logoColor=white" class="margin-top" alt="Windows" />
            <img src="https://img.shields.io/badge/Microsoft_Office-D83B01?style=for-the-badge&logo=microsoft-office&logoColor=white" class="margin-top" alt="Microsoft Office" />
            <img src="https://img.shields.io/badge/Amazon_AWS-FF9900?style=for-the-badge&logo=amazonaws&logoColor=white" class="margin-top" alt="Amazon Web Services" />
            <img src="https://img.shields.io/badge/Google_Cloud-4285F4?style=for-the-badge&logo=google-cloud&logoColor=white" class="margin-top" alt="Google Cloud" />
        </li>
    </ul>
</div>


<!-- // Vertical Timeline -->