@{
    ViewData["Title"] = "Projects";
}
@model lukaszynal.Models.ViewModels.ProjectsViewModel

<partial name="Project_partial" model="Model.Projects.FirstOrDefault(x => x.Title == Model.ProjectName)" />

<div class="card-columns row row-cols-2 row-cols-sm-4">
    @foreach (var project in Model.Projects)
    {
        <div class="col">
            <div class="card margin-bottom">
                <img class="card-img-top" src="@project.Img">
                <div class="card-footer">
                    <h5 class="card-title">@project.Title</h5>
                </div>
                <a class="stretched-link" asp-controller="Home" asp-action="Projects" asp-route-projectName="@project.Title"></a>
            </div>
        </div>
    }
</div>