@{
    ViewData["Title"] = "Projects";
}
@model lukaszynal.Models.ViewModels.ProjectsViewModel

<partial name="Project_partial" model="Model.Projects.FirstOrDefault(x => x.Title == Model.ProjectName)" />

<div class="card-columns row row-cols-2 row-cols-sm-4">
    @foreach (var project in Model.Projects)
    {
        <div class="col">
            <div class="card margin-bottom">
                <img class="card-img-top" src="@project.Img">
                <div class="card-footer">
                    <h5 class="card-title">@project.Title</h5>
                </div>
                <a class="stretched-link" asp-controller="Home" asp-action="Projects" asp-route-projectName="@project.Title"></a>
            </div>
        </div>
    }
</div>


@*<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="20000">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#3C5866" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <div class="card mb-3">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#8FD1F2" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <div class="card-columns row row-cols-1 row-cols-sm-2">
                        <div class="col">
                        <img class="card-img-top" class="d-block w-100" src="~/img/avatar.jpg">
                        </div>
                        <div class="col">
                            text2
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#628FA6" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Education</h1>
                    <p>
                        I attended to a nearby primary school and then a junior high school.<br />
                        When I was 15 years old I started creating websites and learn to programing in Turbo Pascal.<br />
                        The next step was the general secondary school, which I graduated with very good results and passed the secondary school-leaving examination.
                        I attended to a nearby primary school and then a junior high school.<br />
                        When I was 15 years old I started creating websites and learn to programing in Turbo Pascal.<br />
                        The next step was the general secondary school, which I graduated with very good results and passed the secondary school-leaving examination.
                        I attended to a nearby primary school and then a junior high school.<br />
                        When I was 15 years old I started creating websites and learn to programing in Turbo Pascal.<br />
                        The next step was the general secondary school, which I graduated with very good results and passed the secondary school-leaving examination.
                        I attended to a nearby primary school and then a junior high school.<br />
                        When I was 15 years old I started creating websites and learn to programing in Turbo Pascal.<br />
                        The next step was the general secondary school, which I graduated with very good results and passed the secondary school-leaving examination.
                        I attended to a nearby primary school and then a junior high school.<br />
                        When I was 15 years old I started creating websites and learn to programing in Turbo Pascal.<br />
                        The next step was the general secondary school, which I graduated with very good results and passed the secondary school-leaving examination.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#699AB3" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Abroad</h1>
                    <p>
                        After graduating from high school, I went to France to work. I spent almost 10 years there.<br />
                        Working abroad has taught me responsibility, reliability and patience.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#53798C" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Present</h1>
                    <p>
                        After returning to Poland, I started working as a postman. <br />
                        I got married with my wife Angelika, with whom we are raising our son Oliwier.<br />
                        I also started studying Computer Science.<br />
                        I decided to fulfill my dreams from my adolescence to become a programmer.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@